@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('./assets/Montserrat-VariableFont_wght.ttf') format('opentype');
}

body {
  @apply bg-white overflow-hidden text-sm;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.__text-muted {
  @apply text-zinc-500;
}

.__border-color {
  @apply border-zinc-300;
}

.__icon-button {
  @apply transition-opacity;
}

.__icon-button:not(:disabled) {
  @apply hover:opacity-50;
}

.__icon-button:disabled {
  @apply opacity-50;
}
